* {
    margin: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin-top: 80px; /
  }
  
  header {
    position: fixed;          
    top: 0;
    left: 0;
    width: 100%;               
    border: 3px solid #34363d;
    background-color: #34363d;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;             
  }
  
  .Camilo {
    color: white;
    font-size: 28px;
    margin-left: 20vh;
  }
  
  .menu {
    margin-right: 20vh;
  }
  
  .menu a {
    text-decoration: none;
    font-weight: bold;
  }
  
  a {
    margin-left: 5px;
    font-size: 20px;
  }
  
  .blanca {
    color: white;
  }
  
  .gris {
    color: gray;
  }
  
  .contenedor1 {
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border-radius: 7px;
  }
  
  .imagen1 {
    margin-left: auto;
    width: 75vh;
    height: auto;
  }
  
  input {
    background-color: #f44336;
    border-radius: 6px;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
  }
  
  .h1 {
    color: #f44336;
    font-size: 50px;
  }
  
  .segundaParte {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 60px 20px;
  }
  
  .avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .descripcion {
    max-width: 800px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: white;
  }
  
  .proyectos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .proyecto {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .proyecto button {
    margin: 30px 0 30px;
    background-color: #e94e1b;
    color: white;
    border-radius: 10px; 
    padding: 10px 20px;
  }
  
  .proyecto img {
    width: 100%;
    height: auto;
  }
  
  .proyecto p {
    font-size: 14px;
    color: #444;
    margin: 10px 0;
    line-height: 1.4;
  }
  
  .misproyectos {
    text-align: center;
    font-size: 50px;
  }
  
  .proyecto h3 {
    font-weight: normal;
  }
  
  .proyecto button {
    font-size: 20px;
  }
  